{% extends "base.html" %}
{% block content %}
    <div class="alert alert-success" role="alert">
        Your secret has been delivered! <br>
        Paste it in the URL <code>http://127.0.0.1:5000/secret/{{ secret_key }}</code>
        
        <a href="{{url_for('show',secret_key=secret_key, format='json')}}"><button type="submit" class="btn btn-secondary">get JSON</button></a> 
    </div>

    
        <div class="mb-3">
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    
    
    <h1><a href="/" class="btn btn-secondary">Home</a></h1>
{% endblock %}